
{% block blog_content %}
    <!DOCTYPE html>
    <html lang="en">
    <head>
        <meta charset="UTF-8">
        <meta name="viewport" content="width=device-width, initial-scale=1.0">
        <title>Create Profile</title>
    </head>
    <body>
        <h1>Hello {{request.user}}Create Your Company Profile</h1>
        <form method="post" enctype="multipart/form-data">
            {% csrf_token %}
            {{ form.as_p }}
            <button type="submit">Submit</button>
        </form>

        {% if form.errors %}
            <div style="color: red;">
                <p>There are errors in your form:</p>
                {{ form.errors }}
            </div>
        {% endif %}
    </body>
    </html>

{% endblock blog_content %}